body{
  background-color: #8b9ec3;
  color: white;
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.todo-list {
  position: relative;
  max-height: 60vh;
  overflow-y: auto;
  margin: 20px 0;
  padding-right: 10px;
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.5) transparent;
}

.todo-list::-webkit-scrollbar {
  width: 8px;
}

/* .todo-list::-webkit-scrollbar-track {
  background: transparent;
} */

/* .todo-list::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 4px;
} */

.todo-app {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
  max-height: 100vh;
  overflow: hidden;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
